@model  Tribuno3.Models.OperacaoModel
<html>
<head>
    <script>
        var urlListarParcelas = '@Url.Action("ListarParcelas", "Operacao", new { area = "" })';
    </script>
    <script src="~/Scripts/ScriptTribuno/OperacaoModal.js"></script>

</head>
<body>
    <div class="modal" id="modal-divida">
        <div class="modal-dialog">
            <div class="container-fluid">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="TituloModalCentralizado2">Cadastro de operação</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-left">

                        @using (Html.BeginForm(controllerName: "Operacao", actionName: "GravarParcelas", method: FormMethod.Post, htmlAttributes: new { id = "formOperacao" }))
                        {
                            //@Html.AntiForgeryToken()

                            @Html.EditorFor(model => model.TipoOperacao, new { htmlAttributes = new { type = "hidden"} })
                            //@Html.EditorFor(model => model.TipodeCalculo, new { htmlAttributes = new { type = "hidden" } })
                            @Html.EditorFor(model => model.IdOperacao, new { htmlAttributes = new { type = "hidden"} })
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.NomeOperacao, htmlAttributes: new { @class = "sr-only" })
                                @Html.EditorFor(model => model.NomeOperacao, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome da operação" } })
                                @Html.ValidationMessageFor(model => model.NomeOperacao, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "sr-only" })
                                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", placeholder = "Descrição" } })
                                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                            </div>
                            <br>
                            <div class="form-group">
                                @Html.LabelFor(model => model.QtdParcela, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.QtdParcela, new { htmlAttributes = new { @class = "form-control parcelas", placeholder = "" } })
                                @Html.ValidationMessageFor(model => model.QtdParcela, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ValorParcela, htmlAttributes: new { })
                                @Html.EditorFor(model => model.ValorParcela, new { htmlAttributes = new { @class = "form-control parcelas", data_tipo = "moeda", placeholder = "" } })
                                @Html.ValidationMessageFor(model => model.ValorParcela, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DataOperacao)
                                @Html.EditorFor(model => model.DataOperacao, new { htmlAttributes = new { @class = "form-control parcelas"} })
                                @Html.ValidationMessageFor(model => model.DataOperacao, "", new { @class = "text-danger" })
                            </div>

                            <div class="row ">
                                <div class="col-md-8 text-left">
                                    <h6 id="MsgCritica"></h6>
                                </div>
                            </div>

                            <br>
                            <table id="GridParcelas" class="table"></table>
                            <div class="form-group">
                                <input  class="btn btn-info" value="Gravar" disabled="disabled" id="btGravar">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

